<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="coverage"
             lowUpperBound="35" highLowerBound="70" showUncoveredFiles="true" />
        <log type="testdox-html" target="testdox.html" />
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
</phpunit>
